<h1>Search Results</h1>

<% @results.each do |movie| %>
<% if movie.status == "published" %>
<div class="">
  <p><%= movie.title %></p>
  <a href="/movies/<%= movie.id %>">
  <%= image_tag movie.movie_img.url(:movie_index), class: "movie-show" %></a>
</div>

<% end %>
<% end %>
